<div class="investment-page">
    <h1 class="page-title" style="display: flex; justify-content: center; color: rgb(100, 86, 69);">Investment</h1>
 
    <div class="summary">
        <div class="summary-item">
            <div class="label">Total Invested</div>
            <div class="vlaue">${{ store.totalInvestment() | number }}</div>
        </div>
        <div class="summary-item">
            <div class="label">Current Value</div>
            <div class="vlaue">${{ store.totalCurrent() | number }}</div>
        </div>
        <div class="summary-item">
            <div class="label">Gain / Loss</div>
       
        <div class="value" [class.positive]="store.totalGain() >= 0"
            [class.negative]="store.totalGain() <0"> ${{ store.totalGain() | number }}
        </div> </div>
    </div>
</div>
 
<div class="content">
    @if (store.isLoading()) {
        <div class="banner banner-loading">Loading Investment</div>
    } @else if (store.error()) {
        <div class="banner banner-error">Error: {{ store.error() }}</div>
    } @else {
        <div class="list">
            @for (inv of store.investments(); track inv.id) {
                <div class="card">
                    <div class="card-header">
                        <div class="name">{{ inv.name }}</div>
                        <div class="badge">{{ inv.type }}</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="label">Invested</div>
                                <div class="amount">${{ inv.amount | number }}</div>
                            </div>
                            <div class="col">
                                <div class="label">Current</div>
                                <div class="amount">$ {{ inv.currentValue | number }}</div>
                            </div>
                        </div>
                        <div class="meta">Purchases: {{ inv.purchaseDate | date: 'mediumDate'}}</div>
                    </div>
                </div>
            } @empty {
                <div class="empty">No Investments found</div>
            }
        </div>
    }
</div>